
body {
    font-family:system-ui, -apple-system, ; /* Пример замены шрифта на Arial */
  }

.modal-open{
  overflow: hidden;
}


.bg-purpur{
  background-color: #ed90dd;
}


.purpur{
  color: #ed90dd;
}

